* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #333 !important;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

.menu_div,
.panel {
  height: 80vh;
}

.menu_div button, .menu_div a {
  text-decoration: none !important;
  padding: 0.8rem 1rem;
  margin: 1rem 0;
  color: #fff;
  background: #444;
  border: none;
  outline: none !important;
  font: 500 18px arial;
  width: 100%;
  border-radius: 7px;
  display: block;
  text-align: left;
  transition: 0.3s;
}
.menu_div a#logout {
  background: #222;
}
.menu_div a#logout:hover {
  background: #555;
}
.menu_div button:hover, .menu_div a:hover {
  color: #fff;
  background: #555;
}


/*panel*/

.panel_container h2 {
  color: #111;
  padding: 1rem 0;
}
.panel_container h2 span {
  font-size: 1.3rem;
}

.panel {
  background: #fff;
  padding: 2rem;
  position: relative;
  overflow-y: scroll;
}

.confbox {
  display: flex;
  opacity: 0.2;
  visibility: hidden;
  transition: all 0.4s;
}
.confbox form input {
  height: 100%;
}

.remove_btn {
  transition: all 0.4s;
}

.remove_btn:hover .confbox {
  opacity: 1;
  visibility: visible;
}